
<div class="row">
  <aside class="col-lg-3">
    <ol>
    {{#each content}}
      <li>
        {{#linkTo "item" this}}{{name}}: {{id}}{{/linkTo}}
      </li>
    {{/each}}
    </ol>
  </aside>
  <section class="col-lg-9">
    {{outlet}}
  </section>
</div>